@keyframes modal {
    0% {
        top: -280px;

    }

    10% {
        top: 100px;

    }

    55% {
        top: 100px;

    }

    100% {
        top: -280px;
    }
}

.container_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
    padding: 1.5rem 1rem;
    border-radius: .3rem;

    position: fixed;
    left: 50%;
    top: -280px;
    transform: translateX(-50%);

    animation: modal 1.5s ease-in-out;
    z-index: 100;


    &.error {
        background-color: var(--color-error);
    }

    &.success {
        background-color: var(--color-success);
    }
    &.alert {
        background-color: var(--color-alert);
    }

    .icon {
        font-size: 30px;
    }
}