.light {
    --primary-color: #007BFF;
    --secondary-color: #ffffff;
    --input_font-color: #555555;
    --bg-color: #f0f2f5;
}

.dark {
    --primary-color: #1E90FF;
    --secondary-color: #0f1312;
    --input_font-color: #bebebe;
    --bg-color: #2c2c2c;
}