.light {
    --primary-color: #fafafa;
    --secondary-color: #ff4500;
    --bg-color: #ffffff;
    --font-color: #2c3e50;
    --color-error: red;
    --color-success: #41b441;
    --color-alert: rgb(218, 218, 0);
}

.dark {
    --primary-color: #181818;
    --secondary-color: #ff4500;
    --bg-color: #2e2e2e;
    --font-color: #ecf0f1;
    --color-error: red;
    --color-success: #41b441;
    --color-alert: rgb(218, 218, 0);
}
