@import '../../styles/theme.scss';
@import '../../styles/mixins/animate_button.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .5rem;
    background-color: var(--primary-color);
    color: var(--font-color);
    max-width: 1400px;
    position: sticky;
    z-index: 100;
    top: 0;
    margin: 0 auto;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);


    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .link {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--font-color);
            transition: color .3s;

            .icon {
                font-size: 28px;
            }

            .text_icon_nav {
                display: none;
            }

            &.active {
                color: var(--secondary-color);
                border-bottom: 2px solid var(--secondary-color);
            }

            &:hover {
                color: var(--secondary-color);
            }
        }
    }

    .box_logo {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon_logo {
            font-size: 32px;
            background-color: var(--secondary-color);
            color: var(--primary-color);
            border-radius: .5rem;
            padding: .1rem .2rem;
        }

        .text_logo {
            display: none;
            line-height: none;
        }
    }
}


@media screen and (min-width: 768px) {
    .header {
        width: 95%;
        border-radius: .5rem;
        padding: 1rem 2rem;

        .nav {
            gap: 3rem;

            .link {
                text-decoration: none;
                font-weight: 700;
                margin: auto;

                .icon {
                    margin-right: .3rem;
                    font-size: 1rem;
                }

                .text_icon_nav {
                    display: block;
                    font-size: 1rem;
                }
            }
        }

        .box_logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .3rem;

            .text_logo {
                display: block;
                font-size: 1.5rem;
                font-weight: bold;
                color: var(--font-color);
            }
        }
    }
}