@import '../../styles/theme.scss';
@import '../../styles/mixins/animate_button.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: .8rem 0rem;
    color: var(--secondary-color);

    .box_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        max-width: 1024px;
        margin: 0 auto;

        .nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            .link {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--primary-color);
                border-radius: .3rem;
                padding: .2rem .5rem;
                border-bottom: 3px solid var(--secondary-color);
                transition: .3s;
                .icon {
                    font-size: 30px;
                    color: var(--secondary-color);
                    border-radius: .2rem;
                }

                .text_icon_nav {
                    display: none;
                }

                &.active {
                    background-color: rgba(255, 255, 255, 0.2);
                }
                &:hover {
                    @include animate_button(rgba(255, 255, 255, 0.2), var(--secondary-color));
                }
            }
        }

        .box_logo {
            .icon_logo {
                font-size: 32px;
                background-color: var(--secondary-color);
                color: var(--primary-color);
                border-radius: .5rem;
                padding: .1rem .2rem;
            }

            .text_logo {
                display: none;
                line-height: none;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        .box_header {
            .nav {
                gap: 3rem;

                .link {
                    text-decoration: none;
                    color: var(--secondary-color);
                    font-weight: bold;
                    margin: auto;
                    .icon {
                        margin-right: .3rem;
                    }
                    .text_icon_nav {
                        display: block;
                    }
                }
            }

            .box_logo {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .3rem;

                .icon_logo {
                    font-size: 32px;
                    background-color: var(--secondary-color);
                    color: var(--primary-color);
                    border-radius: .5rem;
                    padding: .1rem .2rem;
                }

                .text_logo {
                    display: block;
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: var(--secondary-color);
                }
            }
        }
    }
}