@import './animate_button.scss';

@mixin btn-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: .5rem;
    padding: .2rem 2rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: .5s;

    &:hover {
        @include animate_button(var(--secondary-color), var(--primary-color));
    }
}
