@import '../../styles/mixins/social_media.scss';

.container_card_link {
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-color);
    padding: .4rem;
    border-radius: .5rem;
    position: relative;
    transition: transform .5s;

    @include social_media;
    

    .icon {
        font-size: 32px;
        margin-right: 1rem;
    }
    .arrow {
        position: absolute;
        right: 1rem;
        font-size: 30px;
    }
    &:hover {
        transform: translateY(-3px);
    }

}