@import '../../styles/mixins/animate_button.scss';

.container_not_found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
    text-align: center;

    .heading {
        font-weight: 600;
        font-size: 2rem;
        color: var(--secondary-color);
    }

    .text {
        font-size: 1.2rem;
        color: var(--font-color);
        margin-bottom: .5rem;
    }

    .button {
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: 600;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: transform .5s, color .5s, background-color .5s;

        &:hover {
            @include animate-button(var(--font-color), var(--secondary-color));
        }
    }
}
